@import "./scss/index.scss";

@font-face {
  font-family: "Grotesk";
  src: url(fonts/Poppins-Light.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
 }

html, body {
  margin:0;
  max-width: 100%;
  // font-family: "Grotesk";
  font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
  background: black;
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  overflow-x: hidden;
}

.mainHeader {
  margin-bottom: 5em;
  background-image: url("./assets/main.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 550px;
  align-items: center;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}


.title-container {
  display:flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #a6dc69;
  
}

*, *:before, *:after {
    box-sizing: inherit;
}

.diamonds-container {
  display:flex;
  margin-top: 0rem;
  margin-left: 0rem;
}

.diamonds-container1 {
  display:flex;
  position: relative;
  // left:20rem;
   margin-top: 5rem;
  
  img {
    position: absolute;
    transform: rotate(-45deg);
    left: -15rem;
    width: 120%;
  }
  
}

.diamonds-container2 {
  display:flex;
  position: relative;
  left:0%;
   margin-top: 60rem;
  
  img {
    position: absolute;
    transform: rotate(-45deg);
    left: -15rem;
    width: 120%;
  }
  
}

.diamonds-container3 {
  display:none;
  position: relative;
  left:0rem;
   margin-top: 30rem;
  
  img {
    position: absolute;
    transform: rotate(-45deg);
    left: -15rem;
    width: 120%;
  }
  
}

.diamonds-container4 {
  display:flex;
  position: relative;
  left:20rem;
   margin-top: 80rem;
  
  img {
    position: absolute;
    transform: rotate(-45deg);
    left: -15rem;
    width: 120%;
  }
  
}



.diamond-grid1 {
  max-width:100%;
   @include center(78vw);
   margin-left: 0%;
 

  h1 {
    font-size: 1.5vw;
    color: white;
  }
  
  .diamond {
    @include span(1/13);
    background: #002315;
    border-radius: 0vw 0;
    //8rem to go back to a good grid. 6vw
    height: 6vw;
    width: 6vw;
    border: solid 0px black;
      // transform: skew(14deg, 14dg);
    

    
     &:nth-child(1) {
      background: #154029;
    }

    &:nth-child(1) > a {
      color: black;
      font-weight:bold;
      font-size: 1.25rem;
    }


     &:nth-child(2) {
      background: #154029;
    }
    
      &:nth-child(3) {
      background: #080b09;
    }
    
       &:nth-child(4) {
      background: #080B09;
    }
    
      &:nth-child(5) {
      background: #09150F;
    }
    //
      &:nth-child(6) {
      background: #080B09;
    }
      &:nth-child(7) {
      background: #090F0B;
    }
    
    &:nth-child(8) {
      background: #0B1C14;
    }
    
    &:nth-child(9) {
      background: #080808;
    }

     &:nth-child(10) {
      background: #0A2E1F;
    }
     &:nth-child(11) {
      background: #080808;
    }
     &:nth-child(12) {
      background: #0A2E1F;
    }
     &:nth-child(13) {
      background: #0A2E1F;
    }

    &:nth-child(14) {
      background: #09150F;
    }

    &:nth-child(15) {
      background: #080808;
    }
     &:nth-child(16) {
      background: #090F0B;
    }
     &:nth-child(17) {
      background: #154029;
    }
     &:nth-child(18) {
      background: #0A2E1F;
    }
      &:nth-child(19) {
      background: #6A8968;
    }
      &:nth-child(20) {
      background: #154029;
    }
      &:nth-child(21) {
      background: #0C241A;
    }
       &:nth-child(22) {
      background: #090F0B;
    }
       &:nth-child(23) {
      background: #080B09;
    }
       &:nth-child(24) {
      background: #0B1C14;
    }

    &:nth-child(25) {
      background: #275B3F;
    }

    &:nth-child(26) {
      background: #9BADA3;
    }

    &:nth-child(27) {
      background: #09150F;
    }

    &:nth-child(28) {
      background: #275B3F;
    }

    &:nth-child(29) {
      background: #6A8968;
    }

    &:nth-child(30) {
      background: #154029;
    }

    &:nth-child(31) {
      background: #09150F;
    }

    &:nth-child(32) {
      background: #080B09;
    }


    &:nth-child(33) {
      background: #E3E6E4;
    }

    &:nth-child(34) {
      background: #09150F;
    }
    &:nth-child(35) {
      background: #090F0B;
    }
    &:nth-child(36) {
      background: #090F0B;
    }
    &:nth-child(37) {
      background: #0B1C14;
    }
    &:nth-child(38) {
      background: #09150F;
    }
    &:nth-child(39) {
      background: #090F0B;
    }
    &:nth-child(40) {
      background: #080808;
    }
    &:nth-child(41) {
      background: #0B1C14;
    }
    &:nth-child(42) {
      background: #0B1C14;
    }
    &:nth-child(43) {
      background: #090F0B;
    }
    &:nth-child(44) {
      background: #0B1C14;
    }
    &:nth-child(45) {
      background: #0A2E1F;
    }
    &:nth-child(46) {
      background: #0C241A;
    }
    &:nth-child(47) {
      background: #090F0B;
    }
    &:nth-child(48) {
      background: #09150F;
    }
    &:nth-child(49) {
      background: #0B1C14;
    }
    &:nth-child(50) {
      background: #9BADA3;
    }
    &:nth-child(51) {
      background: #080808;
    }
    &:nth-child(52) {
      background: #09150F;
    }
    &:nth-child(53) {
      background: #080B09;
    }
    &:nth-child(54) {
      background: #080808;
    }
    &:nth-child(55) {
      background: #080808;
    }
    &:nth-child(56) {
      background: #09150F;
    }
    &:nth-child(57) {
      background: #3D6D53;
    }
    &:nth-child(58) {
      background: #CDCFCE;
    }
    &:nth-child(59) {
      background: #9BADA3;
    }
    &:nth-child(60) {
      background: #080B09;
    }

    &:nth-child(61) {
      background: #080B09;
    }

    &:nth-child(62) {
      background: #080B09;
    }
    &:nth-child(63) {
      background: #0B1C14;
    }
    &:nth-child(64) {
      background: #0C241A;
    }

      
    &:hover {
      background: #a6dc69;
      border-color: rgba(0,0,0,0.1);
      transform: scale(1.7);
      transition: all .2s ease-in-out;
    }
    
    a {
      display: block;
      font-size: 1vw;
      height: 100%;
      padding-top: 50%;
      padding-left: 25%;
      text-align: center;
      color: rgb(110, 110, 110);
      text-decoration: none;
      margin-left: -25px;

      &:hover {
    
        color: black;
      }
      
    }
  }
}

.diamond-grid2 {

  max-width:100%;
  //60 rem to go back
   @include center(48vw);
  
  
  h1 {
    font-size: 2.5vw;
    color: white;
  }
  .diamond {
    @include span(1/4);
    background: #002315;
    border-radius: 0rem 0;
    //15 rem to go back 9.5vw
    height: 9vw;
    width: 12vw;
    border: solid 0px black;
    // transform: skew(10deg, 15deg);
    

    
     &:nth-child(1) {
      background: #154029;
    }

    &:nth-child(1) > a {
      color: black;
      font-weight:bold;
      font-size: 1.25rem;
    }


     &:nth-child(2) {
      background: #154029;
    }
    
      &:nth-child(3) {
      background: #080b09;
    }
    
       &:nth-child(4) {
      background: #080B09;
    }
    
      &:nth-child(5) {
      background: #09150F;
    }
    //
      &:nth-child(6) {
      background: #080B09;
    }
      &:nth-child(7) {
      background: #090F0B;
    }
    
    &:nth-child(8) {
      background: #0B1C14;
    }
    
    &:nth-child(9) {
      background: #080808;
    }

     &:nth-child(10) {
      background: #0A2E1F;
    }
     &:nth-child(11) {
      background: #080808;
    }
     &:nth-child(12) {
      background: #0A2E1F;
    }
     &:nth-child(13) {
      background: #0A2E1F;
    }

    &:nth-child(14) {
      background: #09150F;
    }

    &:nth-child(15) {
      background: #080808;
    }
     &:nth-child(16) {
      background: #090F0B;
    }
     &:nth-child(17) {
      background: #154029;
    }
     &:nth-child(18) {
      background: #0A2E1F;
    }
      &:nth-child(19) {
      background: #6A8968;
    }
      &:nth-child(20) {
      background: #154029;
    }
      &:nth-child(21) {
      background: #0C241A;
    }
       &:nth-child(22) {
      background: #090F0B;
    }
       &:nth-child(23) {
      background: #080B09;
    }
       &:nth-child(24) {
      background: #0B1C14;
    }

    &:nth-child(25) {
      background: #275B3F;
    }

    &:nth-child(26) {
      background: #9BADA3;
    }

    &:nth-child(27) {
      background: #09150F;
    }

    &:nth-child(28) {
      background: #275B3F;
    }

    &:nth-child(29) {
      background: #6A8968;
    }

    &:nth-child(30) {
      background: #154029;
    }

    &:nth-child(31) {
      background: #09150F;
    }

    &:nth-child(32) {
      background: #080B09;
    }


    &:nth-child(33) {
      background: #E3E6E4;
    }

    &:nth-child(34) {
      background: #09150F;
    }
    &:nth-child(35) {
      background: #090F0B;
    }
    &:nth-child(36) {
      background: #090F0B;
    }
    &:nth-child(37) {
      background: #0B1C14;
    }
    &:nth-child(38) {
      background: #09150F;
    }
    &:nth-child(39) {
      background: #090F0B;
    }
    &:nth-child(40) {
      background: #080808;
    }
    &:nth-child(41) {
      background: #0B1C14;
    }
    &:nth-child(42) {
      background: #0B1C14;
    }
    &:nth-child(43) {
      background: #090F0B;
    }
    &:nth-child(44) {
      background: #0B1C14;
    }
    &:nth-child(45) {
      background: #0A2E1F;
    }
    &:nth-child(46) {
      background: #0C241A;
    }
    &:nth-child(47) {
      background: #090F0B;
    }
    &:nth-child(48) {
      background: #09150F;
    }
    &:nth-child(49) {
      background: #0B1C14;
    }
    &:nth-child(50) {
      background: #9BADA3;
    }
    &:nth-child(51) {
      background: #080808;
    }
    &:nth-child(52) {
      background: #09150F;
    }
    &:nth-child(53) {
      background: #080B09;
    }
    &:nth-child(54) {
      background: #080808;
    }
    &:nth-child(55) {
      background: #080808;
    }
    &:nth-child(56) {
      background: #09150F;
    }
    &:nth-child(57) {
      background: #3D6D53;
    }
    &:nth-child(58) {
      background: #CDCFCE;
    }
    &:nth-child(59) {
      background: #9BADA3;
    }
    &:nth-child(60) {
      background: #080B09;
    }

    &:nth-child(61) {
      background: #080B09;
    }

    &:nth-child(62) {
      background: #080B09;
    }
    &:nth-child(63) {
      background: #0B1C14;
    }
    &:nth-child(64) {
      background: #0C241A;
    }

      
    &:hover {
      background: #a6dc69;
    }
    
    a {
      display: block;
      font-size: .8vw;
      height: 100px;
      padding-top: 35%;
      padding-left: 15%;
      text-align: center;
      color: rgb(255, 255, 255);
      text-decoration: none;
  
      margin-left: -25px;

      &:hover {
    
        color: black;
      }
      
    }
  }
}

.diamond-grid3 {
  max-width:100%;
   @include center(96vw);
  // margin-right: auto;
  max-height: 5rem;
  margin-right:0;

  h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  .diamond {
    //span times height =32 so make sure center is at least 32 rem
    @include span(1/8);
    background: #002315;
    border-radius: 0rem 0;
    //8 rem original;
    height: 6vw;
    width: 12vw;
    border: solid 0rem black;
    //  transform: skew(17deg);
    

    
     &:nth-child(1) {
      background: #090909;
    }

    &:nth-child(1) > a {
      color: black;
      font-weight:bold;
      font-size: 1.25rem;
    }


     &:nth-child(2) {
      background: #264029;
    }
    
      &:nth-child(3) {
      background: #0F1E15;
    }
    
       &:nth-child(4) {
      background: #B48969;
    }
    
      &:nth-child(5) {
      background: #0B0F0B;
    }
    //
      &:nth-child(6) {
      background: #0B0F0B;
    }
      &:nth-child(7) {
      background: #264029;
    }
    
    &:nth-child(8) {
      background: #0F1E15;
    }
    
    &:nth-child(9) {
      background: #0B0F0B;
    }

     &:nth-child(10) {
      background: #0B0F0B;
    }
     &:nth-child(11) {
      background: #1A2519;
    }
     &:nth-child(12) {
      background: #B48969;
    }
     &:nth-child(13) {
      background: #1A2519;
    }

    &:nth-child(14) {
      background: #0F1E15;
    }

    &:nth-child(15) {
      background: #FFC6A8;
    }
     &:nth-child(16) {
      background: #49553F;
    }
     &:nth-child(17) {
      background: #49553F;
    }
     &:nth-child(18) {
      background: #0A0B0A;
    }
      &:nth-child(19) {
      background: #6D6A4F;
    }
      &:nth-child(20) {
      background: #6D6A4F;
    }
      &:nth-child(21) {
      background: #FFC6A8;
    }
       &:nth-child(22) {
      background: #B48969;
    }
       &:nth-child(23) {
      background: #0D160F;
    }
       &:nth-child(24) {
      background: #6D6A4F;
    }

    &:nth-child(25) {
      background: #0F1E15;
    }

    &:nth-child(26) {
      background: #0D160F;
    }

    &:nth-child(27) {
      background: #112E22;
    }

    &:nth-child(28) {
      background: #112E22;
    }

    &:nth-child(29) {
      background: #112E22;
    }

    &:nth-child(30) {
      background: #6D6A4F;
    }

    &:nth-child(31) {
      background: #0F1E15;
    }

    &:nth-child(32) {
      background: #B48969;
    }


    &:nth-child(33) {
      background: #0F1E15;
    }

    &:nth-child(34) {
      background: #0A0B0A;
    }
    &:nth-child(35) {
      background: #1A2519;
    }
    &:nth-child(36) {
      background: #264029;
    }
    &:nth-child(37) {
      background: #49553F;
    }
    &:nth-child(38) {
      background: #112E22;
    }
    &:nth-child(39) {
      background: #1A2519;
    }
    &:nth-child(40) {
      background: #F8E8E8;
    }
    &:nth-child(41) {
      background: #0F1E15;
    }
    &:nth-child(42) {
      background: #0A0B0A;
    }
    &:nth-child(43) {
      background: #B48969;
    }
    &:nth-child(44) {
      background: #FFC6A8;
    }
    &:nth-child(45) {
      background: #0F1E15;
    }
    &:nth-child(46) {
      background: #0F1E15;
    }
    &:nth-child(47) {
      background: #F8E8E8;
    }
    &:nth-child(48) {
      background: #49553F;
    }
    &:nth-child(49) {
      background: #49553F;
    }
    &:nth-child(50) {
      background: #0A0B0A;
    }
    &:nth-child(51) {
      background: #0F1E15;
    }
    &:nth-child(52) {
      background: #1A2519;
    }
    &:nth-child(53) {
      background: #1A2519;
    }
    &:nth-child(54) {
      background: #112E22;
    }
    &:nth-child(55) {
      background: #264029;
    }
    &:nth-child(56) {
      background: #0A0B0A;
    }
    &:nth-child(57) {
      background: #3D6D53;
    }
    &:nth-child(58) {
      background: #0F1E15;
    }
    &:nth-child(59) {
      background: #0B0F0B;
    }
    &:nth-child(60) {
      background: #0F1E15;
    }

    &:nth-child(61) {
      background: #FFC6A8;
    }

    &:nth-child(62) {
      background: #49553F;
    }
    &:nth-child(63) {
      background: #B48969;
    }
    &:nth-child(64) {
      background: #F8E8E8;
    }

      
    &:hover {
      background: #a6dc69;
    }
    
    a {
      display: block;
      font-size: 1.3rem;
      height: 100px;
      padding-top: 25%;
      padding-left: 20px;
      text-align: center;
      color: rgb(255, 255, 255);
      text-decoration: none;
      // transform: rotate(-45deg);
      margin-left: -25px;

      &:hover {
    
        color: black;
      }
      
    }
  }
}

.diamond-grid4 {
  max-width:50%;
  //90 rem original
   @include center(60vw);
  // margin-right: auto;
  max-height: 10vw;
  transform: rotate(45deg);

  h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  .diamond {
    @include span(1/3);
    background: #002315;
    border-radius: 2rem 0;
    //30 rem original;
    height: 20vw;
    width: 20vw;
    border: solid .5rem black;
    //  transform: skew(17deg);
    

    
     &:nth-child(1) {
      background: #090909;
    }

    &:nth-child(1) > a {
      color: black;
      font-weight:bold;
      font-size: 1.25rem;
    }


     &:nth-child(2) {
      background: #264029;
    }
    
      &:nth-child(3) {
      background: #0F1E15;
    }
    
       &:nth-child(4) {
      background: #B48969;
    }
    
      &:nth-child(5) {
      background: #0B0F0B;
    }
    //
      &:nth-child(6) {
      background: #0B0F0B;
    }
      &:nth-child(7) {
      background: #264029;
    }
    
    &:nth-child(8) {
      background: #0F1E15;
    }
    
    &:nth-child(9) {
      background: #0B0F0B;
    }

     &:nth-child(10) {
      background: #0B0F0B;
    }
     &:nth-child(11) {
      background: #1A2519;
    }
     &:nth-child(12) {
      background: #B48969;
    }
     &:nth-child(13) {
      background: #1A2519;
    }
      
    &:hover {
      background: #a6dc69;
    }
    
    a {
      display: block;
      font-size: 1.3rem;
      height: 100px;
      padding-top: 50px;
      padding-left: 20px;
      text-align: center;
      color: rgb(255, 255, 255);
      text-decoration: none;
      transform: rotate(-45deg);
      margin-left: -25px;

      img {
        transform: rotate(0deg);
    left: -4rem;
    width: 90%;
    top: 1rem;

    
      }

     p {
        position: absolute;
        bottom: -130%;
        color: white;
    }
      &:hover {
    
        color: black;
      }
      
    }
  }
}

.diamond-grid5 {
  max-width:50%;
  //90 rem original
   @include center(80vw);
  // margin-right: auto;
  max-height: 10vw;
  transform: rotate(45deg);

  h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  .diamond {
    @include span(1/1);
    background: #002315;
    border-radius: 2rem 0;
    //30 rem original;
    height: 70vw;
    width: 70vw;
    border: solid .5rem black;
    //  transform: skew(17deg);
    

    
     &:nth-child(1) {
      background: #090909;
    }

    &:nth-child(1) > a {
      color: black;
      font-weight:bold;
      font-size: 1.25rem;
    }
      
    &:hover {
      background: #a6dc69;
    }
    
    a {
      display: block;
      font-size: 1.3rem;
      height: 100px;
      padding-top: 50px;
      padding-left: 20px;
      text-align: center;
      color: rgb(255, 255, 255);
      text-decoration: none;
      transform: rotate(-45deg);
      margin-left: -25px;

      img {
        transform: rotate(0deg);
    left: -4rem;
    width: 90%;
    top: 1rem;

    
      }

     p {
        position: absolute;
        bottom: -130%;
        color: white;
    }
      &:hover {
    
        color: black;
      }
      
    }
  }
}

@media (max-width: 576px) { 

  .diamonds-container {
    flex-direction: column;
    margin-left:40%;
  }

  .diamonds-container2 {
    display:none;
  }

  .diamonds-container3 {
    //largest portfolio layout doesn't show up
    display:flex;
  }

  .diamond-grid1 {
    margin-top: 20%;
    // max-height: 6rem;
 

    @include center(80vw);
    .diamond {
      @include span(1/8);
      background: #002315;
      border-radius: 2vw;
      //8rem to go back to a good grid. 6vw
      height: 10vw;
      width: 10vw;

      a {
        font-size: 1.7vw;
        padding-top: 60%;
        padding-left: 60%;
      }
      


  }


 }

  .diamond-grid2 {
    margin-right: -20%;
    margin-top: 150%;
    // max-height: 6rem;
 

    @include center(60vw);
    .diamond {
      @include span(1/4);
      background: #002315;
      border-radius: 4vw;
      //8rem to go back to a good grid. 6vw
      height: 15vw;
      width: 15vw;

      a {
        font-size: 1.7vw;
        padding-top: 60%;
        padding-left: 60%;
      }

  }


 }
}